#post_introduction {
  border-radius: 5px;
  width: 80%;
  font-size: 12px;
  color: grey;
}
.citation-wrap {
  clear: both;
  width: 30%;
  float: left;
  margin-top: 30px;
  overflow:auto;
}
.preview-wrap {
  width: 70%;
  float: right;
  margin-top: 30px;
}
